<p>Heads up!</p>

<p>
    <b>A comment has been added to your post on Palette!</b>
    Check it out <%= link_to 'here', place_url(@place) %>.<br/>
</p>

Cheers,<br/>
<br/>
Kathleen<br/>
Founder of Palette
